
p { 
  margin: 0 0 20px 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4{
  font-family: $titleFontFamily;
  color: #333; 
  font-weight: 400; 
  margin: 15px 0;
  line-height: 120%;
}

h1, .h1{ font-size: 2em; }

h2, .h2{ font-size: 1.6em; }

h3, .h3{ font-size: 1.4em; }

h4, .h4{ font-size: 1em; }

img { max-width: 100%; height: auto; }

strong { font-weight: bold; }

h2.title{ color: $linkColor; }

a {
	color: $linkColor;
  
	&:hover{
  		color: $linkColorHover;
  		text-decoration: none;
	}
}

ul.links.inline{
	padding: 0;

	li{
 		list-style: none;
 	}
}

.block{
  margin-bottom: 10px;
}